body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  #weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .weather-icon {
    width: 100px;
    height: 100px;
  }
  
  .weather-info {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  